.article {
    width: 350px;
    height: 300px;
    display: inline-block;
    margin-left: 60px;
    margin-bottom: 50px;
}

.universe {
    font-size: 3rem;
    align-items: center;
    text-align: center;
}

.logins {
    width: 100px;
    min-height: 30px;
    background-color: rgb(218, 128, 26);
    border-radius: 5px;
}